hr {
  border-color: #0079AC;
  width: 30%;
  min-width: 150px;
  margin: 40px auto;
}

.content h2 {
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}

p {
  font-size: 18px;
}

.content {
  max-width: 1200px;
  margin: auto;
  padding:  0 50px 50px 50px;
}

.important1 {
  color: #0079AC;
}

.important2 {
  color: #D40474;
}

.important3 {
  color: #FA923C;
}

.important4 {
  color: #3F9400;
}

.recyclingLogo {
  padding: 50px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.recyclingLogo > img {
  width: 150px;
}

.law > div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.law > div:first-child {
  margin-bottom: 100px;
}

.law > div > * {
  width: 40%;
}

.law > div > img {
  width: 400px;
}

@media screen and (max-width: 640px) {
  .law > div > img {
    width: 300px;
  }

  .law > div > p {
    width: 300px;
  }

  p {
    font-size: 18px;
  }
}

@media screen and (max-width: 992px) {
  .recyclingLogo {
    flex-direction: column;
  }

  .law > div > p {
    width: 500px;
  }
}