/*Home page*/
/*Global*/
* {
  max-width: 100vw;
}
.pink {
  color: #D40474;
}
.blue {
  color: #0079ac;
}
.purple {
  color: #822980;
}
.experts,
.we,
.custom,
.philosophy,
.partners {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}
/*Section expert/we*/
.experts {
  background-color: #d4043509;
}
.screen-right {
  margin: 20px 60px;
}
.screen-left img {
  width: 100%;
}
.screen-right p {
  text-align: left;
}
/*Section we*/
.we {
  background-color: #0078ac07;
}
.screen-right img {
  width: 100%;
}
/*Section custom*/
.custom {
  background-color: #8229810b;
}
.screen-left img {
  width: 100%;
}
/*philosophy*/
.philosophy {
  margin: 50px 0;
}
.philosophy h2 {
  text-align: center;
}
.philosophy div {
  margin: 20px 0;
}
.philosophy img {
  max-width: 100%;
}
/*partners*/
.partners {
  margin-bottom: 80px;
}
.partners img {
  max-width: 100%;
  margin: 50px auto;
}

@media screen and (min-width: 992px) {
  /*Global*/
  h2 {
    font-size: 30px;
  }
  /*Section expert/we/custom*/
  .experts p,
  .we p,
  .custom,
  .partners,
  .philosophy {
    font-size: 20px;
  }
  .screen-right {
    width: 50%;
  }
  /*Section experts*/
  .experts,
  .custom {
    flex-direction: row;
  }
  /*Section we */
  .we {
    flex-direction: row-reverse;
  }
}