p {
  font-size: 18px;
}

h2 {
  text-align: center;
  font-size: 45px;
}

.content {
  max-width: 1200px;
  margin: auto;
  padding: 50px;
  text-align: center;
}

.recruitImage {
  width: 100%;
  max-width: 700px;
}

.partners {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.partners img {
  width: 100%;
}
.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.picture, .info_detail, .small_logo {
 text-align: center;
}

.picture img {
  width: 55%;
}
.info_detail {
  margin: 30px 0;
}
.info_detail p {
  font-size: 12px;
  font-weight: bold;
}
.info_detail p span {
  color: #DA481A;
}
.small_logo img {
  width: 30%;
}

@media screen and (max-width: 640px) {
  h2 {
    font-size: 24px;
  }

  input {
    height: 38px;
  }

  .submit {
    height: 30px;
    color: white;
    font-size: 18px;
  }
}

@media screen and (min-width: 992px) {
  .info {
    flex-direction: row;
    justify-content: center;
  }
  .picture {
    padding-right: 150px;
  }
  .info_detail p {
    font-size: 14px;
  }
  h2 {
    font-size: 24px;
  }

  input {
    height: 38px;
  }

  .submit {
    height: 30px;
    color: white;
    font-size: 18px;
  }
}
