p {
  font-size: 18px;
}

h2 {
  text-align: center;
  font-size: 45px;
}

input {
  margin: 15px 10px 35px 10px;
  box-sizing: border-box;
  border: 1px solid black;
  -webkit-border-radius: 5px; 
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 7px 7px 4px 0px rgba(0,0,0,0.25); 
  box-shadow: 7px 7px 4px 0px rgba(0,0,0,0.25);
  max-width: 405px;
  height: 58px;
}

.submit {
  margin: 100px 0;
  background-color: #0079AC;
  width: 254px;
  height: 43px;
  color: white;
  font-size: 25px;
}

.content {
  max-width: 1200px;
  margin: auto;
  padding: 50px;
}

.recruitImage {
  width: 100%;
}

.formLine {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.formLine > div {
  width: 405px;
  display: flex;
  flex-flow: column wrap;
}

.partners {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.partners img {
  width: 100%;
}

@media screen and (max-width: 640px) {
  h2 {
    font-size: 24px;
  }

  input {
    height: 38px;
  }

  .submit {
    height: 30px;
    color: white;
    font-size: 18px;
  }
}
